<template>
  <q-page padding class="dashboard-page fade-in">
    <div class="container">
    <div class="credential-title">DOCUMENTOS</div>
    <div class="credential-sub-title">Listado de documentación de interés para nuestros afiliados</div>
    </div>
    <div class="document-list">
      <q-list bordered>
        <q-item v-for="document in documents" :key="document.name">
          <q-item-section>
            {{ document.name }}
          </q-item-section>
          <q-item-section side>
            <q-btn
             flat
              color="white"
              label="Descargar"
              text-color="grey"
              size="sm"
              @click="downloadDocument(document.path)"
               class="custom-btn"
            />
          </q-item-section>
        </q-item>
      </q-list>
    </div>
  </q-page>
</template>

<script>
export default {
  data() {
    return {
      documents: [
        { name: 'CCT - ACTUALIZACIÓN 24-03-2023', path: '/assets/documents/CCT - ACTUALIZACION 24-03-2023.pdf' },
        { name: 'DECRETO 366-06 CCT FATUN', path: '/assets/documents/DECRETO 366-06 CCT FATUN.pdf' },
        { name: 'Estatuto de la ATUNPA', path: '/assets/documents/Estatuto de la ATUNPA.pdf' },
        { name: 'Ordenanza 122 Reglamento de Concursos', path: '/assets/documents/Ordenanza 122 Reglamento de Concursos.pdf' },
        { name: 'Ordenanza 123 capacitación', path: '/assets/documents/Ordenanza 123 capacitación.pdf' },
        { name: 'Ordenanza N°182-CS-UNPA', path: '/assets/documents/Ordenanza N°182-CS-UNPA.pdf' },
        { name: 'Ordenanza N°189-CS-UNPA', path: '/assets/documents/Ordenanza N°189-CS-UNPA.pdf' },
        { name: 'Ordenanza N°199-CS-UNPA', path: '/assets/documents/Ordenanza N°199-CS-UNPA.pdf' },
        { name: 'Resolución N° 1515/18-R-UNPA', path: '/assets/documents/Resolución N° 1515/18-R-UNPA.pdf' },
        { name: 'Resolución N°1521/18-R-UNPA', path: '/assets/documents/Resolución N°1521/18-R-UNPA.pdf' },
      ]
    };
  },
  methods: {
    downloadDocument(path) {
      const link = document.createElement('a');
      link.href = path;
      link.download = path.split('/').pop();
      link.click();
    }
  }
}
</script>

<style>
.dashboard-page {
  background-color: #e7e6e6; /* Cambié a azul para ver claramente el cambio */
  animation: fadeIn 1s ease-in-out forwards;
  min-height: 100vh; /* Asegura que la página cubra toda la altura de la ventana */
}
.container {
  text-align: center;
  margin-bottom: 30px;
  
}

.document-list {
  max-width: 300px;
  margin: auto;
  
}

.credential-title {
  font-family: 'Inter', sans-serif;
  font-size: 2em;
  color: #1976D2;
  font-weight: 900;
  margin-top: 16px;
  margin-bottom: -10px;
}

.credential-sub-title {
  font-family: 'Verdana';
  font-weight: 300;
  letter-spacing: 0.3em;
  width: 90%;
  margin: 15px auto 15px auto;
  font-size: 1rem;
  font-weight: normal;
  color: #1976D2; /* Color negro o el color que prefieras */
  margin-bottom: 10px;
}
.custom-btn {
  background-color: white;
  border: 1px solid transparent;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    background-color: white; /* Fondo blanco al inicio */
  }
  100% {
    opacity: 1;
    background-color: #e7e6e6; /* Cambié a azul para ver claramente el cambio */
  }
}
</style>
