<template>
  <q-page class="flex flex-center">
    <div class="login-container">
      <q-img :src="logo" alt="Imagen de login" class="login-image" />
      <div class="login-title">¡Bienvenida/o!</div>
       <div class="login-sub-title">Ingresá con tu DNI y contraseña.</div>

      <q-form @submit="submitLogin" class="login-form">
        <q-input
          v-model="dni"
          label="DNI"
          filled
          lazy-rules
          :rules="[val => !!val || 'El DNI es requerido']"
          class="full-width"
        />
        <q-input
          v-model="password"
          label="Contraseña"
          type="password"
          filled
          lazy-rules
          :rules="[val => !!val || 'La contraseña es requerida']"
          class="full-width"
        />
        <q-btn
          type="submit"
          label="Ingresar"
          color="primary"
          class="q-mt-md full-width"
          :loading="loading"
        />
      </q-form>
       <div v-if="errorMessage" class="error-message">{{ errorMessage }}</div>
      <div class="login-indicacion">Si no tenés acceso, comunicate con el sindicato </div>
    </div>
  </q-page>
</template>

<script>
import { ref } from 'vue';
import { useRouter } from 'vue-router'; // Importar el hook useRouter
import logo from 'src/assets/logo.png';

export default {
  name: 'LoginPage',

  setup() {
    const dni = ref('');
    const password = ref('');
    const loading = ref(false);
    const errorMessage = ref(''); // Mensaje de error
    const router = useRouter(); // Obtener la instancia del router con el hook

    const submitLogin = async () => {
      if (dni.value && password.value) {
        loading.value = true;
        errorMessage.value = ''; // Limpiar mensaje de error

        try {
          const response = await fetch(`${process.env.VUE_APP_BACKEND_URL}/login`, {
            method: 'POST',
            headers: {
              'Content-Type': 'application/json',
            },
            body: JSON.stringify({
              dni: dni.value,
              password: password.value,
            }),
          });

          const data = await response.json();

          if (response.ok) {
            localStorage.setItem('access_token', data.access_token);
            localStorage.setItem('user', JSON.stringify(data.user));
            router.push('/dashboard'); // Usar el router obtenido con el hook
          } else {
            errorMessage.value = data.message || 'Error al iniciar sesión'; // Mostrar mensaje de error
          }
        } catch (error) {
          errorMessage.value = 'Error al iniciar sesión. Inténtalo de nuevo más tarde.';
          console.error('Error al iniciar sesión:', error);
        } finally {
          loading.value = false;
        }
      }
    };

    return {
      dni,
      password,
      loading,
      errorMessage,
      submitLogin,
      logo,
    };
  },
};

</script>


<style scoped>
.login-container {
  max-width: 400px;
  width: 100%;
  padding: 16px;
  text-align: center;
}

.login-image {
  width: 100%;
  max-width: 100px;
  margin: 0 auto;
}

.login-title {
  font-family: 'Inter', sans-serif;
  font-size: 2rem;
  font-weight: bold;
  color: #1976D2; /* Usar el color primario del botón */
  margin-top: 16px;
  margin-bottom: 3px;
}

.login-sub-title {
   font-family: 'Inter', sans-serif;
  font-weight: 300;
  letter-spacing: 0.08em;
  width: 70%;
  margin: 20px auto 24px auto;
  font-size: 1.3rem;
  font-weight: normal;
  color: #1976D2; /* Color negro o el color que prefieras */
  margin-bottom: 24px;
}

.login-indicacion {
  width: 70%;
  margin: 20px auto 24px auto;
  font-size: 1rem;
  font-weight: normal;
  color: black; /* Color negro o el color que prefieras */
  text-align: center;
}

.login-form {
  width: 100%;
}

.full-width {
  width: 100%;
}

.error-message {
  color: red; /* Color rojo para el mensaje de error */
  margin-top: 16px;
  font-size: 1rem;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    background-color: white; /* Fondo blanco al inicio */
  }
  100% {
    opacity: 1;
    background-color: transparent; /* Fondo transparente al final */
  }
}
</style>
