<template>
  <q-page class="profile-page fade-in">
    <div class="profile-container">
      <div><p>Perfil del Afiliado</p></div>
      <div class="profile-picture-container">
        <q-avatar size="150px" class="profile-avatar">
          <template v-if="profilePicture">
            <img :src="profilePicture" alt="Profile Picture" class="profile-picture" />
          </template>
          <template v-else>
            <q-icon name="account_circle" size="100px" />
          </template>
        </q-avatar>
      </div>
      
      <div class="profile-data">
        <q-item>
          <q-item-label>
            <strong>Nombre:</strong> {{ userName }}
          </q-item-label>
        </q-item>
        <q-item>
          <q-item-label>
            <strong>Apellido:</strong> {{ userLastName }}
          </q-item-label>
        </q-item>
        <q-item>
          <q-item-label>
            <strong>Afiliado N°:</strong> {{ userAffiliate }}
          </q-item-label>
        </q-item>
        <q-item>
          <q-item-label>
            <strong>DNI:</strong> {{ userDni }}
          </q-item-label>
        </q-item>
        <q-item>
          <q-item-label>
            <strong>Email:</strong> {{ userEmail }}
          </q-item-label>
        </q-item>
      </div>
    </div>
  </q-page>
</template>

<script>
export default {
  data() {
    return {
      profilePicture: '', // Por defecto, no hay imagen de perfil
      userName: '',
      userLastName: '',
      userEmail: '',
      userAffiliate: '',
      userDni: ''
    };
  },
  created() {
    const user = localStorage.getItem('user');
    if (user) {
      const userData = JSON.parse(user);
      this.userName = userData.name;
      this.userLastName = userData.lastname;
      this.userEmail = userData.email;
      this.userAffiliate = userData.affiliate_number;
      this.userAffiliate = userData.affiliate_number;
      this.userDni = userData.dni;
      this.profilePicture = userData.profilePicture || ''; // Usar la imagen de perfil si está disponible
    }
  },
  methods: {
    changeProfilePicture() {
      // Lógica para cambiar la imagen de perfil
      alert('Función para cambiar la imagen de perfil');
    }
  }
};
</script>

<style scoped>
.profile-page {
  background-color: #e7e6e6;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0; /* Inicialmente invisible */
  animation: fadeIn 1s ease-in-out forwards; /* Solo animar opacidad */
}

.profile-container {
  text-align: center;
  width: 100%;
  margin-top: -50px;
}

.profile-picture-container {
  display: flex;
  justify-content: center;
  margin-bottom: 0px;
}

.profile-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  color: grey;
}

.profile-picture {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.change-picture-btn {
  margin-bottom: 20px;
}

.profile-data {
  text-align: left;
  padding: 0 20px;
}

.label {
  font-weight: bold;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

</style>
