<template>
  <q-layout>
    <!-- Barra superior -->
    <q-header class="header-bar" v-if="shouldShowMenu">
      <q-toolbar>
        <q-btn
          push
          flat
          color="white"
          text-color="primary"
          round
          icon="chevron_left"
          @click="goBack"
        />
        <q-toolbar-title class="header-title">
          <img :src="logo" alt="Logo" class="header-logo" />
        </q-toolbar-title>
        <q-btn
          push
          flat
          color="white"
          text-color="primary"
          round
          icon="account_circle"
          @click="goToProfile"
        />
      </q-toolbar>
    </q-header>

    <!-- Contenido de la página con transición -->
    <q-page-container>
      <router-view v-if="loaded" />
    </q-page-container>

    <!-- Menú inferior -->
    <q-tabs class="menu-bottom" align="center" v-if="shouldShowMenu" dense>
      <q-tab icon="home" label="inicio" @click="home" />
      <q-tab icon="badge" label="credencial" @click="goToCredencial" />
      <q-tab icon="description" label="documentos" @click="goToDocuments" />
      <q-tab icon="exit_to_app" label="Salir" @click="showExitConfirmDialog = true" />
    </q-tabs>

    <!-- Modal de instalación de PWA -->
    <q-dialog v-model="showInstallPrompt" persistent>
      <q-card>
        <q-card-section class="q-py-md text-center">
          <div class="text-h6">Instalá la APP</div>
          <div>Descargá e instalá <strong>MiATUNPA</strong> en tu android o iOS para ingresar directamente</div>
        </q-card-section>

        <q-card-actions class="column-buttons" align="center">
          <q-btn label="DESCARGAR E INSTALAR" color="black" @click="installPWA" />
          <q-btn flat label="Seguir en el navegador" color="grey" @click="closeInstallPrompt" />
        </q-card-actions>
      </q-card>
    </q-dialog>

    <!-- Modal de confirmación de salida -->
    <q-dialog v-model="showExitConfirmDialog" persistent>
      <q-card>
        <q-card-section class="q-py-md text-center">
          <div class="text-h6">Estás por cerrar sesión</div>
          <div>Si confirmás, tendrás que ingresar nuevamente con tu DNI y contraseña</div>
        </q-card-section>

        <q-card-actions class="column-buttons" align="center">
          <q-btn label="Aceptar y salir" color="black" @click="logout" />
          <q-btn flat label="Cancelar" color="grey" @click="closeExitConfirmDialog" />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </q-layout>
</template>

<script>
import logo from 'src/assets/logo.png';

export default {
  data() {
    return {
      loaded: false,
      showInstallPrompt: false,
      deferredPrompt: null,
      showExitConfirmDialog: false,
      logo
    };
  },
  computed: {
    shouldShowMenu() {
      return this.$route.name !== 'LoginPage' && this.$route.path !== '/';
    },
  },
  created() {
    setTimeout(() => {
      this.loaded = true;
    }, 100);

    // Escuchar el evento 'beforeinstallprompt'
    window.addEventListener('beforeinstallprompt', (e) => {
      e.preventDefault();
      this.deferredPrompt = e;
      this.showInstallPrompt = true;
    });
  },
  methods: {
    logout() {
      localStorage.removeItem('access_token');
      localStorage.removeItem('user');
      this.$router.push('/');
      this.showExitConfirmDialog = false;
    },

    goBack() {
      this.$router.go(-1); 
    },

    goToProfile() {
      this.$router.push('/profile');
    },
     goToCredencial() {
     this.$router.push({path: "credential"});
     },
    
    goToDocuments() {
     this.$router.push({path: "documents"});

    },
     home() {
     this.$router.push({path: "dashboard"});
    },
  

    closeInstallPrompt() {
      this.showInstallPrompt = false;
    },
    installPWA() {
      if (this.deferredPrompt) {
        this.deferredPrompt.prompt();
        this.deferredPrompt.userChoice.then((choiceResult) => {
          if (choiceResult.outcome === 'accepted') {
            console.log('User accepted the A2HS prompt');
          } else {
            console.log('User dismissed the A2HS prompt');
          }
          this.deferredPrompt = null;
          this.showInstallPrompt = false;
        });
      }
    },
    showExitConfirm() {
      this.showExitConfirmDialog = true;
    },
    closeExitConfirmDialog() {
      this.showExitConfirmDialog = false;
    }
  }
};

</script>

<style scoped>
.header-bar {
  background-color: #e7e6e6;
}

.header-title {
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
}

.header-logo {
  height: 40px;
}

.menu-bottom {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
}

/* Estilos para los tabs */
.q-tab {
  color: grey; /* Color gris para el texto */
  font-size: 14px; /* Tamaño de fuente más pequeño */
}

/* Estilo para colocar los botones uno debajo del otro */
.column-buttons {
  display: flex;
  flex-direction: column;
}

.column-buttons .q-btn {
  width: 100%;
  margin: 5px 0;
}
</style>
